/* Фэнтезийные стили для элементов */
@import url("https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Russo+One&display=swap");
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@import url(https://db.onlinewebfonts.com/c/aeb32ac36fb513d9cf87050b50b1d58c?family=House+of+the+Dragon+PERSONAL+Regular);
@font-face {
  font-family: 'Revolvingdor';
  font-style: normal;
  font-weight: 400;
  src: local('Revolvingdor'), url('https://fonts.cdnfonts.com/s/56474/Revolvingdor-gxvd4.woff') format('woff');
}
@font-face {
  font-family: "BreatheFire";
  font-style: normal;
  font-weight: 400;
  src: local('BreatheFire'), url("./BreatheFire.ttf") format("truetype"),;
}

:root {
  --background-color: #f8f5ee;
  --text-color: #333333;
  --primary-color: #985632;
  --secondary-color: #773333;
  --accent-color: #ff8108;
  --system-message-bg: #8c919b38;
  --link-color: #3f51b5;
  --highlight-bg: #ffe6e63b;
  --dot-color: #888;
  --tooltip-bg: #f2f2f2;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Andika", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  user-select: none;
}
.front_of {
  position: relative;
}
@font-face {
  font-family: "House of the Dragon PERSONAL Regular";
  src: url("https://db.onlinewebfonts.com/t/aeb32ac36fb513d9cf87050b50b1d58c.eot");
  src: url("https://db.onlinewebfonts.com/t/aeb32ac36fb513d9cf87050b50b1d58c.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/aeb32ac36fb513d9cf87050b50b1d58c.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/aeb32ac36fb513d9cf87050b50b1d58c.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/aeb32ac36fb513d9cf87050b50b1d58c.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/aeb32ac36fb513d9cf87050b50b1d58c.svg#House of the Dragon PERSONAL Regular")format("svg");
}
h1,
h2,
h3 {
  color: #00FF80;
  font-family: "House of the Dragon PERSONAL Regular";
  /* font-family: 'Revolvingdor', sans-serif; */
}

p {
}

.dice-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background: #3b3b3b9e;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #985632;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}
#locationImage {
  width: 100%;
  height: 49vh;
  object-fit: cover;
}
#intro {
  text-align: center;
  margin-top: 100px;
  position: relative;
}
#intro::after {
  content: "";
  /* background: url(img/system/689.png);
  filter: invert(1); */
  background-size: 35px;
  background-repeat: space;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* opacity: 0.2; */
  z-index: -1;    
  background: url(img/system/first-min.jpg);
  background-size: cover;
  background-position: center;
}
.highlight {
  background-color: #ffe6e63b;
  color: #ff8108;
}
#introContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 86%;
}
#startButton {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
#game,
#characterCreation,
#intro {
  margin: 50px auto;
  margin: 0px auto;
  width: 100%;
  max-width: 470px;
  /* background-color: #ffffff;
  background-color: #100f0b; */
  background-color: #100f0b;
  padding: 20px;
  padding: 4px;
  /* border-radius: 8px; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  box-sizing: border-box;
}
#intro {
  background-color: #673ab7;
}
/* CHAT WINDOW */
#chatWindow {
  background-color: #f4f4f4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 49vh;
  overflow-y: scroll;
}
#chatWindow::before {
  background: url(https://img.freepik.com/free-vector/old-paper-texture_1048-3717.jpg?w=826&t=st=1690405877~exp=1690406477~hmac=980ccfd…);
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 0;
  max-width: 467px;
}

#chatContainer {
  padding: 10px;
  min-height: 70%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
  opacity: 0; /* Начальное значение прозрачности 0 */
  animation: fadeIn 0.3s ease forwards; /* Анимация появления */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Начальное значение прозрачности 0 */
    transform: translateY(10px); /* Начальное значение смещения по вертикали */
  }
  to {
    opacity: 1; /* Конечное значение прозрачности 1 */
    transform: translateY(0); /* Конечное значение смещения по вертикали */
  }
}

@keyframes open {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.open-animation {
  animation: open 0.5s;
}

.message.right {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.message .author {
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.message .avatar {
  width: 32px;
  height: 32px;
  /* border-radius: 50%; */
  text-align: center;
  background: #9e9e9e;
  margin-right: 10px;
  font-weight: 600;
  color: white;

  -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='50' height='50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.607 25c0 10.006-1.259 16.1-4.883 19.724C41.1 48.348 35.006 49.607 25 49.607S8.9 48.348 5.276 44.724C1.652 41.1.393 35.006.393 25S1.652 8.9 5.276 5.276C8.9 1.652 14.994.393 25 .393s16.1 1.259 19.724 4.883C48.348 8.9 49.607 14.994 49.607 25Z' stroke='%23000' stroke-width='.8' fill='%23000'/%3E%3C/svg%3E ");
  mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='50' height='50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.607 25c0 10.006-1.259 16.1-4.883 19.724C41.1 48.348 35.006 49.607 25 49.607S8.9 48.348 5.276 44.724C1.652 41.1.393 35.006.393 25S1.652 8.9 5.276 5.276C8.9 1.652 14.994.393 25 .393s16.1 1.259 19.724 4.883C48.348 8.9 49.607 14.994 49.607 25Z' stroke='%23000' stroke-width='.8' fill='%23000'/%3E%3C/svg%3E ");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.message.left .avatar {
  margin-right: 10px;
}

.message.right .avatar {
  margin-left: 10px;
}
.message.authorMessage .avatar {
  display: none;
}
.message .avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background: #595959;
}

.message .content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  flex: 1;
  max-width: 70%;
  position: relative;
  padding-top: 21px;
}
.message.authorMessage .content {
  background-color: transparent;
  padding-top: 0;
  max-width: 100%;
}
.message.authorMessage .author {
  display: none;
}

.message .content p {
  margin: 0;
}

.message.system .content {
  font-style: italic;
  /* background-color: #673ab726; */
  background-color: #8c919b38;
}

/* .message.system .content {
} */
/*  */
#typingIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 2px;
  animation: jump 1s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
/*  */
/* .front_of:before {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;    
  width: 100%;
  height: 100%;
  max-height: 560px;
  background: url(/img/icons/batiscaf.png) no-repeat;
  background-size: contain;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
} */

.get_item_text {
  margin-top: 20px;
  color: #3f51b5;
}

#char_select_pip {
  background: #000;
  padding: 10px;
  border-top: 2px solid #5a5f5b;
  border-radius: 6px;
  color: #ffffff;
  border: 4px solid #de9b72;
  content: "";
  background: #3a3d3e;
}
#char_select_pip h3 {
  color: #ffffff;
}
#char_select_pip span {
  color: #ffffff;
}
#char_select_pip button {
  color: #ffffff;
  background: #3a3d3e;
  border: 2px solid #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
#attributePoints {
}
.attr_label {
  opacity: 0.5;
}
#attributePointsValue {
  background: #5a5f5b;
  padding: 5px;
  display: inline-flex;
  border-radius: 6px;
  border-top: 2px solid #5a5f5b;
}
.attributeSelector {
  margin-bottom: 10px;
}
#char_select_pip button.start_game {
  background: #5a5f5b;
  border: 2px solid #ffffff29;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

#locationName {
  color: #773333;
  font-weight: bold;
}

#inventoryList {
  font-family: "Courier New", monospace;
}

#message,
#text_area_intro {
  margin-bottom: 10px;
  border: 4px solid #ababab40;
  padding: 15px 12px;
  background: #fff;
  font-family: "Andika", sans-serif;
  text-align: justify;
}
#options {
  content: "";
  position: relative;
}

#optionsList {
  /* font-weight: bold; */
  position: relative;
  padding: 7px 17px;
  border-top: 1px solid #dbdbdb;
  background: #69696940;
  opacity: 0; /* Начальное значение прозрачности 0 */
  animation: fadeIn 0.8s ease forwards; /* Анимация появления */
}
#optionsList li {
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 6px;
  padding: 7px 12px;
  border-radius: 5px;
  color: lightgreen;
  background-color: #000000;
  display: inline-block;
  opacity: 0.8;
  margin-right: 10px;
}
#optionsList li:hover {
  opacity: 1;
}

/* Стили для локаций */
.location {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.location h2 {
  margin-top: 0;
}

.location pre {
  font-family: monospace;
  white-space: pre-wrap;
}
/* Стили для инвентаря */
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.inventory-item {
  background-color: #00000017;
  color: #000;
  padding: 10px;
  text-align: center;
  max-width: 50px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.inventory-item:hover {
  opacity: 0.5;
}

.inventory-item img {
  max-width: 100%;
  max-height: 100%;
}
.context-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 99990;
}

.context-menu-item {
  cursor: pointer;
  padding: 5px;
}

.context-menu-item:hover {
  background-color: #f1f1f1;
}

/* Стили для кнопки "показать инвентарь" */
.button-show-inventory {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcf9c;
  color: #654321;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  position: relative;
  margin-top: 20px;
}

.button-show-inventory:before,
.button-show-inventory:after {
  content: "";
  position: absolute;
  background-color: #fff;
}

.button-show-inventory:before {
  top: -6px;
  left: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.button-show-inventory:after {
  bottom: -6px;
  right: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.button-show-inventory:hover {
  background-color: #ffac6e;
}

.button-show-inventory:active {
  background-color: #ff9b4d;
}
/* Стили для вариантов ответа */
.options {
  margin-bottom: 20px;
}

.option {
  margin-bottom: 10px;
}

.option button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  cursor: pointer;
}

.option button:hover {
  background-color: #e9e9e9;
}

.option button:active {
  background-color: #d5d5d5;
}

/* Стили для инвентаря */
.inventory {
  margin-bottom: 20px;
}

.inventory h2 {
  margin-top: 0;
}

.inventory ul {
  list-style-type: none;
  padding: 0;
}

.inventory li {
  margin-bottom: 5px;
}

/* Стили для характеристик персонажа */
.stats {
  margin-bottom: 20px;
}

.stats h2 {
  margin-top: 0;
}

.stats table {
  width: 100%;
  border-collapse: collapse;
}

.stats th,
.stats td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ddd;
}

.stats th {
  font-weight: bold;
}

/* Стили при наведении и нажатии */
.option button:hover,
.option button:active {
  background-color: #c5c5c5;
}

/* Стили tooltip */
/* --- class="tooltip" aria-label="" --- */

.tooltip:focus::after,
.tooltip:hover::after {
  content: attr(aria-label);
  display: block;
}

.tooltip:focus::after,
.tooltip:hover::after {
  position: absolute;
  top: 100%;
  font-size: 1.2rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  color: initial;
  padding: 1rem;
  width: 13rem;
  margin-top: 0.5rem;
  text-align: left;
}

.tooltip {
  position: relative;
  color: goldenrod;
  display: inline-block;
}

.tooltip:hover::before {
  top: 100%;
  right: 0;
  left: 0;
  margin: -1rem auto 0;
  display: block;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #f2f2f2;
  border-width: 1rem;
}

/* Dice */
@font-face {
  font-family: "Effra";
  src: url("Effra_Std_Md.ttf");
}
#anim-container {
  width: 100%;
  height: 100%;
  /* max-width: 800px;
  max-height: 600px; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 9px;
  box-shadow: 0 0 16px 0 #517ac3;
  outline: 2px solid #000000eb;
  border: 4px solid #ccc;
}
#dice {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 2s ease-out;
  /* width: 150px;
  height: 150px; */
}
.side {
  position: absolute;
  width: 0;
  height: 0;
  /* width: 40px;
  height: 34.64px; */
  transform-origin: 50% 66.6%;
  z-index: 1;
  background-image: url("triangle.png");
  background-size: 100% 100%;
}
#dice-text {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0%;
  transition: opacity 0.5s linear 2s;
  font-weight: bold;
  color: white;
  background-size: 100% auto;
  font-family: "Effra";
  margin-top: 38px;
}
#difficult_level {
  border-radius: 14px;
  background: aliceblue;
  width: 46px;
  height: 30px;
  position: absolute;
  margin-top: -200px;
  z-index: 9999;
  box-shadow: 0 0 16px 0 #517ac3;
  outline: 2px solid #000000eb;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
#difficult_level.success, #anim-container.success {
  outline: 2px solid #19c720;
}
#difficult_level.danger, #anim-container.danger {
  outline: 2px solid #c71919;
}
#buttonDiceOk {
  display: none;
  padding: 0.1rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: #ffffff;
  position: relative;
  background-color: #673AB7;
  box-shadow: 0 0 16px 0 #517ac3;
  /* background-color: #4f4f4f; */
  border-radius: 4px;
  margin-top: 200px;
  z-index: 9999;
  cursor: pointer;
}
#buttonDiceOk:hover {
  background-color: #2a0e5d !important;
}

.medieval-button {
  background-color: #8B4513; /* коричневый цвет для средневекового стиля */
  border: 2px solid #DAA520; /* золотая окантовка */
  background-color: #5f5252c2;
  border: none;
  color: white;
  padding: 2px 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  font-family: 'MedievalSharp', cursive; /* Используем средневековый шрифт */
  box-shadow: 0 0 16px 0 #517ac3;
  box-shadow: 0 0 16px 0 #795548d4;
}
.medieval-button img {
  width: 30px;
}

.medieval-button:hover {
  background-color: #A0522D; /* темно-коричневый при наведении */
  background-color: #61331eb0;
}

.game-buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 9;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.inventory-item {
  background-color: #8B4513; /* Brown color for medieval style */
  border: 2px solid #DAA520; /* Gold border */
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

#statsList {
  list-style-type: none;
  padding: 0;
}

#statsList li {
  background-color: #8B4513; /* Brown color for medieval style */
  border: 2px solid #DAA520; /* Gold border */
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.menu_block {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: #333333e6;
  padding: 82px 30px 0px 30px;
  box-sizing: border-box;
}

.quest-item {
  background: aliceblue;
  border-radius: 6px;
  padding: 3px 12px;
}




.quest-item {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.quest-item:hover {
  background-color: #e6e6e6;
}

.quest-item .quest-description {
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.quest-item.expanded {
  background-color: #e6e6e6;
}

.quest-item.expanded .quest-description {
  display: block;
}

.quest-item::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

.quest-item.expanded::after {
  content: "-";
}